body {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}
body > h1 {
  margin: 0 1em;
  float: left;
  font-size: medium;
}
body > .services {
  display: block;
  margin-bottom: 0;
}
body > .services > li {
  display: block;
  float: left;
  width: 5em;
  margin-left: -1px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  border: 1px solid #4a1a2c;
  padding: 0.4em 1em;
  font-size: small;
}
body > .services > li.selected {
  background-color: #4a1a2c;
  color: white;
}
body > .body {
  clear: left;
  background-color: #4a1a2c;
  color: white;
  padding: 1em;
}
body > .body h1 {
  font-size: x-large;
  margin-top: -0.5em;
}
body > .body > .forum {
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
}
