@forground-color: #4A1A2C; /*8E3557*/

body { padding: 0; margin: 0;
       font-family: 'NanumGothic', 'Malgun Gothic', '\b9d1\c740 \ace0\b515',
                    sans-serif; }
body > .services { display: block; }
body > .services > li { display: block; width: 5em;
                        border-top-left-radius: 1em;
                        border-top-right-radius: 1em;
                        -webkit-border-top-left-radius: 1em;
                        -webkit-border-top-right-radius: 1em;
                        -moz-border-radius-topleft: 1em;
                        -moz-border-radius-topright: 1em;
                        border: 1px solid @forground-color;
                        padding: 0.5em; }
body > .services > li.selected { background-color: @forground-color;
                                 color: white; }
body > .body { background-color: @forground-color; color: white;
               padding: 1em; }
body > .body > .forum { background-color: white;
                        border-radius: 1em;
                        -webkit-border-radius: 1em;
                        -moz-border-radius: 1em; }
