.button {
  font-size: 0.8em;
  background-color: #cbacf1;
  color: #671f9c;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
}
.button:hover { border: 3px solid #671f9c; }
.button:active {
  background-color: #671f9c;
  color: white;
}
.a-form {
  font-size: 0.8em;
  background-color: #cbacf1;
  color: #671f9c;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
  padding: 2.5px 1em;
}
.a-form:hover { border: 3px solid #671f9c; }
.a-form:active {
  background-color: #671f9c;
  color: white;
}
.submit-form {
  font-size: 0.8em;
  background-color: #cbacf1;
  color: #671f9c;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
  height: 2em;
  padding-bottom: 1px;
}
.submit-form:hover { border: 3px solid #671f9c; }
.submit-form:active {
  background-color: #671f9c;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}
a {
  color: #671f9c;
  text-decoration: none;
}
body > h1 {
  margin: 0 1em;
  float: left;
  font-size: medium;
}
body > .services {
  display: block;
  margin-bottom: 0;
}
body > .services > li {
  display: block;
  float: left;
  width: 5em;
  height: 1em;
  margin-right: 0.2em;
  background-color: #905ebc;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -o-border-radius-topleft: 0.5px;
  -o-border-radius-topleft: 0.5em;
  -khtml-border-radius-topleft: 0.5em;
  -khtml-border-radius-topright: 0.5em;
  -icap-border-radius-topleft: 0.5 em;
  -icap-border-radius-topright: 0.5em;
  padding: 0.4em 1em;
  font-size: small;
}
body > .services > li.selected {
  background-color: #671f9c;
  font-weight: bold;
}
body > .services > li:hover { background-color: #671f9c; }
body > .services > li > a { color: white; }
body > .session {
  position: absolute;
  right: 0;
  top: 0.5em;
}
body > .session fieldset { border: none; }
body > .session fieldset legend { float: left; }
body > .body {
  float: left;
  clear: left;
  min-width: 100%;
  background-color: #671f9c;
  color: white;
}
body > .body h1 {
  font-size: x-large;
  margin: 0.5em;
}
body > .body h2 {
  font-size: large;
  margin: 0 0.5em 0.5em 0.5em;
}
body > .body .description {
  font-size: small;
  color: #a075c5;
  margin: 1em;
  margin-top: 0;
}
body > .copyright {
  clear: left;
  background-color: #905ebc;
  color: white;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-size: small;
}
.number {
  display: block;
  background-color: #905ebc;
  color: white;
  font-weight: bolder;
  font-size: small;
  font-family: Tahoma, sans-serif;
  border-radius: 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -khtml-border-radius: 100%;
  -icap-border-radius: 100%;
  width: 1.5em;
  text-align: center;
}
body > .body > .forum {
  background-color: #905ebc;
  width: 30em;
  height: 15em;
  margin: 1em;
  color: #671f9c;
  float: left;
  border-radius: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -khtml-border-radius: 1em;
  -icap-border-radius: 1em;
  font-size: small;
}
body > .body > .forum h2 {
  margin: 0.5em 0.5em 0 0.5em;
  font-size: large;
}
body > .body > .forum .description {
  margin: 0;
  padding: 0.5em 0.7em 0.7em 0.7em;
  color: #cbacf1;
}
body > .body > .forum table {
  width: 100%;
  border-top: 1px solid #905ebc;
  border-collapse: collapse;
  background-color: white;
}
body > .body > .forum table thead { display: none; }
body > .body > .forum table th { padding: 0.4em 0.5em; }
body > .body > .forum table td { padding: 0.4em 0.5em; }
body > .body > .forum table .title { width: 70%; }
body > .body > .forum table tbody tr { border-bottom: 1px solid #a075c5; }
body > .body > .forum table tbody tr:last-child { border-bottom: none; }
body > .body > .forum table tbody th {
  text-align: left;
  font-weight: normal;
  padding-left: 0.5em;
}
body > .body > .forum table td.posts span {
  display: block;
  background-color: #905ebc;
  color: white;
  font-weight: bolder;
  font-size: small;
  font-family: Tahoma, sans-serif;
  border-radius: 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -khtml-border-radius: 100%;
  -icap-border-radius: 100%;
  width: 1.5em;
  text-align: center;
}
body > .body > .forum table td.updated-at { text-align: right; }
body > .body > .subjects {
  background-color: #8d5dde;
  width: 50em;
  border-radius: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -khtml-border-radius: 1em;
  -icap-border-radius: 1em;
  margin: 1em;
  color: #671f9c;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-size: small;
}
body > .body > .subjects table {
  background-color: white;
  color: #671f9c;
  width: 100%;
  border-collapse: collapse;
}
body > .body > .subjects table .subject { width: 60%; }
body > .body > .subjects table thead {
  background-color: #8d5dde;
  color: white;
}
body > .body > .subjects table th { padding: 1em; }
body > .body > .subjects table td { padding: 1em; }
body > .body > .subjects table tbody th {
  text-align: left;
  font-weight: normal;
  paading-left: 0.5em;
}
body > .body > .subjects table tbody tr { border-bottom: 1px solid #a075c5; }
body > .body > .subjects table tbody tr:last-child { border-bottom: none; }
body > .body > .subjects table tbody td.posts span {
  display: block;
  background-color: #905ebc;
  color: white;
  font-weight: bolder;
  font-size: small;
  font-family: Tahoma, sans-serif;
  border-radius: 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -khtml-border-radius: 100%;
  -icap-border-radius: 100%;
  width: 1.5em;
  text-align: center;
  text-align: center;
}
body > .body > .subjects table tbody td.datetime { text-align: center; }
body > .body > .subjects .pager {
  margin: 1em 0 0 1em;
  padding: 0;
}
body > .body > .subjects .pager li {
  display: inline;
  font-size: small;
}
body > .body > .subjects .pager li.selected {
  background-color: #671f9c;
  color: #cbacf1;
}
body > .body > .subjects .pager li.last:before { content: '\22ef'; }
body > .body > .subjects .pager li.first:after { content: '\22ef'; }
body > .body > .subjects .functions {
  text-align: right;
  margin: 0 0.5em;
}
body > .body > .subjects .button {
  font-size: 0.8em;
  background-color: #cbacf1;
  color: #671f9c;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
}
body > .body > .subjects .button:hover { border: 3px solid #671f9c; }
body > .body > .subjects .button:active {
  background-color: #671f9c;
  color: white;
}
body > .copyright {
  clear: left;
  background-color: #905ebc;
  color: white;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-size: small;
}
