body {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}
a {
  color: #8e3557;
  text-decoration: none;
}
body > h1 {
  margin: 0 1em;
  float: left;
  font-size: medium;
}
body > .services {
  display: block;
  margin-bottom: 0;
}
body > .services > li {
  display: block;
  float: left;
  width: 5em;
  margin-right: 0.2em;
  background-color: #8e3557;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  padding: 0.4em 1em;
  font-size: small;
}
body > .services > li.selected {
  background-color: #4a1a2c;
  font-weight: bold;
}
body > .services > li:hover { background-color: #4a1a2c; }
body > .services > li > a { color: white; }
body > .body {
  float: left;
  clear: left;
  min-width: 100%;
  background-color: #4a1a2c;
  color: white;
}
body > .body h1 {
  font-size: x-large;
  margin: 0 0.5em;
}
.number {
  background-color: #8e3557;
  color: white;
  font-weight: bolder;
  font-size: small;
  font-family: Tahoma, sans-serif;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 1.5em;
  text-align: center;
}
body > .body > .forum {
  background-color: white;
  width: 30em;
  float: left;
  margin: 1em;
  color: #4a1a2c;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  font-size: small;
}
body > .body > .forum h2 {
  margin: 0.5em 0.5em 0 0.5em;
  font-size: large;
}
body > .body > .forum .description {
  margin: 0;
  padding: 0.5em 0.7em 0.7em 0.7em;
  border-bottom: 1px solid #8e3557;
}
body > .body > .forum table { width: 100%; }
body > .body > .forum table thead { display: none; }
body > .body > .forum table .title { width: 70%; }
body > .body > .forum table td.posts {
  background-color: #8e3557;
  color: white;
  font-weight: bolder;
  font-size: small;
  font-family: Tahoma, sans-serif;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 1.5em;
  text-align: center;
}
body > .body > .forum table td.updated-at { text-align: right; }
body > .copyright {
  clear: left;
  background-color: #8e3557;
  color: white;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-size: small;
}
