@import url(application.less);
@import url(error.less);

.box-form{
	color: @color1; background-color: white; 
    border-radius: 1em; -webkit-border-radius: 1px; -moz-border-radius: 1em;
    -o-border-radius: 1em; -khtml-border-radius: 1em; -icap-border-radius:1em;
}
body > .body > .register {
    width: 16em; color: @color5;
	form > .error-msg-box {
	}

	fieldset{
		border: none;
        label{
            font-weight: bold;
        }
        input[type=text], input[type=password]{
            width: 20em; .box-form;
            padding: 1em; margin-bottom: 2em;
            border: none;  
        }
	}
	
	.functions{
		margin: 1em -0.2em; text-align: right; padding-right:0.3333335em;
	    input[type=submit]{
            .submit-form;
		}
        a{
            .a-form;
        }
	}
}

body > .body > .email-send {
    .box-form; font-size: small; width: 20em;
    padding: 2em; margin: 1em;
}

body > .body > .info {
    .box-form; width: 30em; padding: 1em; font-size: small;
    float:left;
    fieldset{
        text-align: right;
        .gravatar{
        float: left; padding: 1em; padding-top: 3em;
        }
        border: none;
        label{
            display:block;  font-weight: bold;
            margin-right: 10px; padding-right: 10px;
            width: 150px; text-align: right;
        }
        a{ .a-form; }
    }
}
body > .body > .post {
    color: @color1; width: 35em; padding: 1em 0 2em 0;
    .box-form; background-color: @color3;
    float: left;
    table{
        border-collapse: collapse; width: 100%;
        thead{ display: none; }
        a{ display: block; color: @color1; text-align: left;}
        .post-head{ background-color: @color3; height: 2.5em;}
        .subject-title{ padding-left: 1em; width: 80%;}
        .forum-title{ font-size: small;}
        .post-body{ font-size: small; background-color: white;}
    }
}
