.button {
  background-color: #cbacf1;
  font-weight: bold;
  color: #671f9c;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
}
.button:hover { border: 3px solid #671f9c; }
.button:active {
  background-color: #671f9c;
  color: white;
}
.a-form {
  background-color: #cbacf1;
  font-weight: bold;
  color: #671f9c;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
  padding: 2.5px 1.5em;
}
.a-form:hover { border: 3px solid #671f9c; }
.a-form:active {
  background-color: #671f9c;
  color: white;
}
.submit-form {
  background-color: #cbacf1;
  font-weight: bold;
  color: #671f9c;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
  height: 2.1em;
  padding: 0 1.3em 3px 1.3em;
}
.submit-form:hover { border: 3px solid #671f9c; }
.submit-form:active {
  background-color: #671f9c;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}
a {
  color: #671f9c;
  text-decoration: none;
}
body > h1 {
  margin: 0 1em;
  float: left;
  font-size: medium;
}
body > .services {
  display: block;
  margin-bottom: 0;
}
body > .services > li {
  display: block;
  float: left;
  width: 5em;
  height: 1em;
  margin-right: 0.2em;
  background-color: #905ebc;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -o-border-radius-topleft: 0.5px;
  -o-border-radius-topleft: 0.5em;
  -khtml-border-radius-topleft: 0.5em;
  -khtml-border-radius-topright: 0.5em;
  -icap-border-radius-topleft: 0.5 em;
  -icap-border-radius-topright: 0.5em;
  padding: 0.4em 1em;
  font-size: small;
}
body > .services > li.selected {
  background-color: #671f9c;
  font-weight: bold;
}
body > .services > li:hover { background-color: #671f9c; }
body > .services > li > a { color: white; }
body > .session {
  position: absolute;
  right: 0;
  top: 0.5em;
}
body > .session fieldset { border: none; }
body > .session fieldset legend { float: left; }
body > .body {
  float: left;
  clear: left;
  min-width: 100%;
  background-color: #671f9c;
  color: white;
}
body > .body h1 {
  font-size: x-large;
  margin: 0.5em;
}
body > .body h2 {
  font-size: large;
  margin: 0 0.5em 0.5em 0.5em;
}
body > .body .description {
  font-size: small;
  color: #a075c5;
  margin: 1em;
  margin-top: 0;
}
body > .copyright {
  clear: left;
  background-color: #905ebc;
  color: white;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-size: small;
}
.error-message-box {
  border: solid 2px #ffcc66;
  background-color: #ffffcc;
}
.box-form {
  color: #671f9c;
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -khtml-border-radius: 1em;
  -icap-border-radius: 1em;
}
body > .body > .register {
  width: 16em;
  color: #cbacf1;
}
body > .body > .register fieldset { border: none; }
body > .body > .register fieldset label { font-weight: bold; }
body > .body > .register fieldset input[type=text] {
  width: 20em;
  color: #671f9c;
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -khtml-border-radius: 1em;
  -icap-border-radius: 1em;
  padding: 1em;
  margin: 1em;
  border: none;
}
body > .body > .register fieldset input[type=password] {
  width: 20em;
  color: #671f9c;
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -khtml-border-radius: 1em;
  -icap-border-radius: 1em;
  padding: 1em;
  margin: 1em;
  border: none;
}
body > .body > .register .email {
  color: white;
  margin: 0.5em 0 2em 1em;
}
body > .body > .register .functions {
  margin: 1em -0.2em;
  text-align: right;
  padding-right: 0.3333335em;
}
body > .body > .register .functions input[type=submit] {
  background-color: #cbacf1;
  font-weight: bold;
  color: #671f9c;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
  height: 2.1em;
  padding: 0 1.3em 3px 1.3em;
}
body > .body > .register .functions input[type=submit]:hover { border: 3px solid #671f9c; }
body > .body > .register .functions input[type=submit]:active {
  background-color: #671f9c;
  color: white;
}
body > .body > .register .functions a {
  background-color: #cbacf1;
  font-weight: bold;
  color: #671f9c;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
  padding: 2.5px 1.5em;
}
body > .body > .register .functions a:hover { border: 3px solid #671f9c; }
body > .body > .register .functions a:active {
  background-color: #671f9c;
  color: white;
}
body > .body > .email-send {
  color: #671f9c;
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -khtml-border-radius: 1em;
  -icap-border-radius: 1em;
  font-size: small;
  width: 20em;
  padding: 2em;
  margin: 1em;
}
body > .body > .info {
  color: #671f9c;
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -khtml-border-radius: 1em;
  -icap-border-radius: 1em;
  width: 33em;
  padding: 1em;
  font-size: small;
  margin: 1em;
  margin-bottom: 0;
}
body > .body > .info fieldset {
  text-align: right;
  border: none;
}
body > .body > .info fieldset .gravatar {
  float: left;
  padding: 1em;
  padding-top: 3em;
  width: 8em;
  height: 8em;
}
body > .body > .info fieldset label {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  padding-right: 10px;
  width: 15em;
  text-align: right;
}
body > .body > .info fieldset .functions a {
  background-color: #cbacf1;
  font-weight: bold;
  color: #671f9c;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #cbacf1;
  padding: 2.5px 1.5em;
}
body > .body > .info fieldset .functions a:hover { border: 3px solid #671f9c; }
body > .body > .info fieldset .functions a:active {
  background-color: #671f9c;
  color: white;
}
body > .body > .post {
  margin: 1.35em;
  margin-top: 0;
  color: #671f9c;
  padding: 0 0 2em 0;
  width: 27.2em;
  color: #671f9c;
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -khtml-border-radius: 1em;
  -icap-border-radius: 1em;
  background-color: #a075c5;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -o-border-radius-topleft: 0;
  -o-border-radius-topleft: 0;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 0;
  -icap-border-radius-topleft: 0;
  -icap-border-radius-topright: 0;
}
body > .body > .post table {
  border-collapse: collapse;
  width: 100%;
}
body > .body > .post table thead { display: none; }
body > .body > .post table .post-head {
  background-color: #a075c5;
  height: 2.5em;
  padding: 0.5em;
}
body > .body > .post table .post-head .forums { font-size: small; }
body > .body > .post table tbody tr:first-child { padding-top: 0; }
body > .body > .post table a {
  display: block;
  color: #671f9c;
  text-align: left;
}
body > .body > .post table .forum-title { font-size: small; }
body > .body > .post table .post-body {
  font-size: small;
  background-color: white;
}
body > .body > .post table .post-body .date {
  padding: 0.5em 1em;
  color: #905ebc;
  text-align: right;
}
body > .body > .post table .post-body .body { padding: 1em; }
