@import url(application.less);

@color1: #671F9C;
@color2: #905EBC;
@color3: #A075C5;
@color4: #AE9BD3;
@color5: #CBACF1;


body > .body > .revision{
    background-color: white; padding: 1em; margin: 0.5em;
    width: 38.5em;
    border-radius : 1.5em;
   -moz-border-radius: 1.5em;
   -webkit-border-radius: 15px;
   -o-border-radius: 1.5em;
   -khtml-border-radius: 1.5em;
   -icap-border-radius: 1.5em;
   .errorExplanation{
        background-color: @color5; padding: 0.5em;
		margin: 0 0.5em 0.5em 0.5em;
        border-radius : 0.5em;
       -moz-border-radius: 0.5em;
        -webkit-border-radius: 5px;
       -o-border-radius: 0.5em;
       -khtml-border-radius: 0.5em;
       -icap-border-radius: 0.5em;
        h2 { font-size: small; color: @color1; font-weight: bold;}
        p { display: none; }
        ul { font-size: small; color: @color2;  }
    }
    fieldset{
        border: none;
    }
	.function{
		text-align: right; width: 37.5em;
	}
	a{
		font-size: small; background-color: @color2; 
		color: @color1; padding: 0.3em 0.5em;
        background-color: @color5;
        border-radius : 0.7em;
		-moz-border-radius: 0.7em;
        -webkit-border-radius: 8px;
		-o-border-radius: 0.7em;
		-khtml-border-radius: 0.7em;
		-icap-border-radius: 0.7em;
	}
}
