body {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}
a {
  color: #905ebc;
  text-decoration: none;
}
body > h1 {
  margin: 0 1em;
  float: left;
  font-size: medium;
}
body > .services {
  display: block;
  margin-bottom: 0;
}
body > .services > li {
  display: block;
  float: left;
  width: 5em;
  height: 1em;
  margin-right: 0.2em;
  background-color: #905ebc;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -o-border-radius-topleft: 0.5px;
  -o-border-radius-topleft: 0.5em;
  -khtml-border-radius-topleft: 0.5em;
  -khtml-border-radius-topright: 0.5em;
  -icap-border-radius-topleft: 0.5 em;
  -icap-border-radius-topright: 0.5em;
  padding: 0.4em 1em;
  font-size: small;
}
body > .services > li.selected {
  background-color: #671f9c;
  font-weight: bold;
}
body > .services > li:hover { background-color: #671f9c; }
body > .services > li > a { color: white; }
body > .session {
  position: absolute;
  right: 0;
  top: 0.5em;
}
body > .session fieldset { border: none; }
body > .session fieldset legend { float: left; }
body > .body {
  float: left;
  clear: left;
  min-width: 100%;
  background-color: #671f9c;
  color: white;
}
body > .body h1 {
  font-size: x-large;
  margin: 0.5em;
}
body > .body h2 {
  font-size: large;
  margin: 0 0.5em 0.5em 0.5em;
}
body > .body .description {
  font-size: small;
  color: #a075c5;
  margin: 1em;
  margin-top: 0;
}
body > .copyright {
  clear: left;
  background-color: #905ebc;
  color: white;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-size: small;
}
body > .body > .revision {
  background-color: white;
  padding: 1em;
  margin: 0.5em;
  width: 38.5em;
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 15px;
  -o-border-radius: 1.5em;
  -khtml-border-radius: 1.5em;
  -icap-border-radius: 1.5em;
}
body > .body > .revision .errorExplanation {
  background-color: #cbacf1;
  padding: 0.5em;
  margin: 0 0.5em 0.5em 0.5em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 5px;
  -o-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  -icap-border-radius: 0.5em;
}
body > .body > .revision .errorExplanation h2 {
  font-size: small;
  color: #671f9c;
  font-weight: bold;
}
body > .body > .revision .errorExplanation p { display: none; }
body > .body > .revision .errorExplanation ul {
  font-size: small;
  color: #905ebc;
}
body > .body > .revision fieldset { border: none; }
body > .body > .revision .function {
  text-align: right;
  width: 37.5em;
}
body > .body > .revision a {
  font-size: small;
  background-color: #905ebc;
  color: #671f9c;
  padding: 0.3em 0.5em;
  background-color: #cbacf1;
  border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
}
