.button {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
}
.button:hover { border: 3px solid #c1eda0; }
.button:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
.a-form {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  padding: 2.5px 1.5em;
}
.a-form:hover { border: 3px solid #c1eda0; }
.a-form:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
.submit-form {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  height: 2.1em;
  padding: 0 1.3em 3px 1.3em;
}
.submit-form:hover { border: 3px solid #c1eda0; }
.submit-form:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
a {
  color: #0e3f05;
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}
body > h1 {
  margin: 0 1em;
  float: left;
  font-size: medium;
}
body > .services {
  display: block;
  margin-bottom: 0;
}
body > .services > li {
  display: block;
  float: left;
  width: 5em;
  height: 1em;
  margin-right: 0.2em;
  background-color: #58a248;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -o-border-radius-topleft: 0.5px;
  -o-border-radius-topleft: 0.5em;
  -khtml-border-radius-topleft: 0.5em;
  -khtml-border-radius-topright: 0.5em;
  -icap-border-radius-topleft: 0.5 em;
  -icap-border-radius-topright: 0.5em;
  padding: 0.4em 1em;
  font-size: small;
}
body > .services > li.selected { background-color: #0e3f05; }
body > .services > li:hover { background-color: #0e3f05; }
body > .services > li > a { color: white; }
body > .session {
  position: absolute;
  right: 0;
  top: 0.5em;
}
body > .session fieldset { border: none; }
body > .session fieldset legend { float: left; }
body > .body {
  float: left;
  clear: left;
  min-width: 100%;
  background-color: #0e3f05;
  color: white;
}
body > .body h1 {
  font-size: x-large;
  margin: 0.5em;
}
body > .body h2 {
  font-size: large;
  margin: 0 0.5em 0.5em 0.5em;
}
body > .body .description {
  font-size: small;
  color: white;
  margin: 1em;
  margin-top: 0;
}
body > .copyright {
  clear: left;
  background-color: #58a248;
  color: white;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-size: small;
}
.button {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
}
.button:hover { border: 3px solid #c1eda0; }
.button:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
.a-form {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  padding: 2.5px 1.5em;
}
.a-form:hover { border: 3px solid #c1eda0; }
.a-form:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
.submit-form {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  height: 2.1em;
  padding: 0 1.3em 3px 1.3em;
}
.submit-form:hover { border: 3px solid #c1eda0; }
.submit-form:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
a {
  color: #0e3f05;
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}
body > h1 {
  margin: 0 1em;
  float: left;
  font-size: medium;
}
body > .services {
  display: block;
  margin-bottom: 0;
}
body > .services > li {
  display: block;
  float: left;
  width: 5em;
  height: 1em;
  margin-right: 0.2em;
  background-color: #58a248;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -o-border-radius-topleft: 0.5px;
  -o-border-radius-topleft: 0.5em;
  -khtml-border-radius-topleft: 0.5em;
  -khtml-border-radius-topright: 0.5em;
  -icap-border-radius-topleft: 0.5 em;
  -icap-border-radius-topright: 0.5em;
  padding: 0.4em 1em;
  font-size: small;
}
body > .services > li.selected { background-color: #0e3f05; }
body > .services > li:hover { background-color: #0e3f05; }
body > .services > li > a { color: white; }
body > .session {
  position: absolute;
  right: 0;
  top: 0.5em;
}
body > .session fieldset { border: none; }
body > .session fieldset legend { float: left; }
body > .body {
  float: left;
  clear: left;
  min-width: 100%;
  background-color: #0e3f05;
  color: white;
}
body > .body h1 {
  font-size: x-large;
  margin: 0.5em;
}
body > .body h2 {
  font-size: large;
  margin: 0 0.5em 0.5em 0.5em;
}
body > .body .description {
  font-size: small;
  color: white;
  margin: 1em;
  margin-top: 0;
}
body > .copyright {
  clear: left;
  background-color: #58a248;
  color: white;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-size: small;
}
.write-form {
  background-color: white;
  padding: 1em;
  margin: 0.5em;
  width: 34em;
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 15px;
  -o-border-radius: 1.5em;
  -khtml-border-radius: 1.5em;
  -icap-border-radius: 1.5em;
}
.write-form .errorExplanation {
  background-color: #def2c9;
  padding: 0.5em;
  margin: 0 0.5em 0.5em 0.5em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 5px;
  -o-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  -icap-border-radius: 0.5em;
}
.write-form .errorExplanation h2 {
  font-size: small;
  color: #0e3f05;
  font-weight: bold;
}
.write-form .errorExplanation p { display: none; }
.write-form .errorExplanation ul {
  font-size: small;
  color: #58a248;
}
.write-form fieldset { border: none; }
.write-form fieldset textarea {
  font-size: 12px;
  resize: none;
  width: 43em;
}
.write-form .function {
  text-align: right;
  width: 33em;
}
.write-form .function input[type=submit] {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  height: 2.1em;
  padding: 0 1.3em 3px 1.3em;
}
.write-form .function input[type=submit]:hover { border: 3px solid #c1eda0; }
.write-form .function input[type=submit]:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
.write-form .function a {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  padding: 2.5px 1.5em;
}
.write-form .function a:hover { border: 3px solid #c1eda0; }
.write-form .function a:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
.write-form .output {
  background-color: #def2c9;
  padding: 1em;
  width: 32em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 10px;
  -o-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  -icap-border-radius: 0.5em;
  color: #000000;
  padding-top: 0.8em;
  padding-left: 0.3em;
}
.write-form .output h2 { color: #0e3f05; }
.write-form .output p {
  background-color: white;
  margin: 0 1em;
  padding: 0.3em 1em;
}
body > .body > .subject .setBorder_body {
  background-color: white;
  width: 45em;
  float: left;
  margin: 1em;
  padding: 1em;
  color: #0e3f05;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 5px;
  -o-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  -icap-border-radius: 0.5em;
}
body > .body > .subject .info {
  float: left;
  border-right: 1px solid #def2c9;
  margin: 0.5em;
  width: 10em;
}
body > .body > .subject .info .avata {
  margin: 0.5em;
  text-align: center;
}
body > .body > .subject .info .nick {
  color: #0e3f05;
  font-size: small;
  font-weight: bold;
}
body > .body > .subject .info .name {
  color: #58a248;
  font-size: small;
}
body > .body > .subject .item {
  font-size: small;
  float: right;
  margin-right: 1em;
}
body > .body > .subject .item li {
  display: block;
  width: 2em;
  float: left;
  text-align: center;
}
body > .body > .subject .body {
  float: left;
  padding-right: 2em;
  color: black;
  margin-left: 1em;
  width: 65%;
  overflow: auto;
}
body > .body > .subject .history {
  color: #58a248;
  font-size: small;
  float: right;
  margin: 1em;
}
body > .body > .subject .functions {
  margin: 1em;
  clear: left;
  text-align: right;
  width: 47em;
}
body > .body > .subject .functions a {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  padding: 2.5px 1.5em;
}
body > .body > .subject .functions a:hover { border: 3px solid #c1eda0; }
body > .body > .subject .functions a:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
body > .body > .create {
  background-color: white;
  padding: 1em;
  margin: 0.5em;
  width: 34em;
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 15px;
  -o-border-radius: 1.5em;
  -khtml-border-radius: 1.5em;
  -icap-border-radius: 1.5em;
  color: #0e3f05;
}
body > .body > .create .errorExplanation {
  background-color: #def2c9;
  padding: 0.5em;
  margin: 0 0.5em 0.5em 0.5em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 5px;
  -o-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  -icap-border-radius: 0.5em;
}
body > .body > .create .errorExplanation h2 {
  font-size: small;
  color: #0e3f05;
  font-weight: bold;
}
body > .body > .create .errorExplanation p { display: none; }
body > .body > .create .errorExplanation ul {
  font-size: small;
  color: #58a248;
}
body > .body > .create fieldset { border: none; }
body > .body > .create fieldset textarea {
  font-size: 12px;
  resize: none;
  width: 43em;
}
body > .body > .create .function {
  text-align: right;
  width: 33em;
}
body > .body > .create .function input[type=submit] {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  height: 2.1em;
  padding: 0 1.3em 3px 1.3em;
}
body > .body > .create .function input[type=submit]:hover { border: 3px solid #c1eda0; }
body > .body > .create .function input[type=submit]:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
body > .body > .create .function a {
  background-color: #def2c9;
  font-weight: bold;
  color: #58a248;
  border: 0;
  font-size: small;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
  border-radius: 0.7em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  -khtml-border-radius: 0.7em;
  -icap-border-radius: 0.7em;
  cursor: pointer;
  border: 3px solid #def2c9;
  padding: 2.5px 1.5em;
}
body > .body > .create .function a:hover { border: 3px solid #c1eda0; }
body > .body > .create .function a:active {
  background-color: #c1eda0;
  color: #0e3f05;
}
body > .body > .create .output {
  background-color: #def2c9;
  padding: 1em;
  width: 32em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 10px;
  -o-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  -icap-border-radius: 0.5em;
  color: #000000;
  padding-top: 0.8em;
  padding-left: 0.3em;
}
body > .body > .create .output h2 { color: #0e3f05; }
body > .body > .create .output p {
  background-color: white;
  margin: 0 1em;
  padding: 0.3em 1em;
}
