body {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}
a {
  color: #2e2d6b;
  text-decoration: none;
}
body > h1 {
  margin: 0 1em;
  float: left;
  font-size: medium;
}
body > .services {
  display: block;
  margin-bottom: 0;
}
body > .services > li {
  display: block;
  float: left;
  width: 5em;
  margin-right: 0.2em;
  background-color: #2e2d6b;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -o-border-radius-topleft: 0.5em;
  -o-border-radius-topleft: 0.5em;
  -khtml-border-radius-topleft: 0.5em;
  -khtml-border-radius-topright: 0.5em;
  -icap-border-radius-topleft: 0.5 em;
  -icap-border-radius-topright: 0.5em;
  padding: 0.4em 1em;
  font-size: small;
}
body > .services > li.selected {
  background-color: #030928;
  font-weight: bold;
}
body > .services > li:hover { background-color: #030928; }
body > .services > li > a { color: white; }
body > .session {
  position: absolute;
  right: 0;
  top: 0.5em;
}
body > .session fieldset { border: none; }
body > .session fieldset legend { float: left; }
body > .body {
  float: left;
  clear: left;
  min-width: 100%;
  background-color: #030928;
  color: white;
}
body > .body h1 {
  font-size: x-large;
  margin: 2em 0.5em 0.5em 0.5em;
}
body > .body .description {
  font-size: small;
  color: #979eeb;
  margin: 1em;
  margin-top: 0;
}
body > .body > .subject .setBorder_body {
  background-color: white;
  width: 45em;
  float: left;
  margin: 0 0 2em 1em;
  color: #030928;
}
body > .body > .subject .created {
  margin-top: -1.3em;
  font-size: small;
  color: white;
  background-color: #979eeb;
  padding: 0.5em;
}
body > .body > .subject .info {
  float: left;
  border: 1px solid #979eeb;
  margin: 0 0 0.5em 0.5em;
  width: 10em;
}
body > .body > .subject .avata {
  margin: 0.5em;
  text-align: center;
}
body > .body > .subject .nick {
  color: #030928;
  margin: 0 0.5em 0 0.5em;
  font-size: small;
  font-weight: bold;
}
body > .body > .subject .name {
  color: #2e2d6b;
  margin: 0 0.5em 0 0.5em;
  font-size: small;
}
body > .body > .subject .body {
  float: left;
  padding-right: 2em;
  margin-left: 1em;
  width: 65%;
}
body > .copyright {
  clear: left;
  background-color: #2e2d6b;
  color: white;
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-size: small;
}
