@color1: #671F9C;
@color2: #905EBC;
@color3: #A075C5;
@color4: #AE9BD3;
@color5: #CBACF1;



body { padding: 0; margin: 0;
       font-family: 'NanumGothic', 'Malgun Gothic', sans-serif; }
a { color: @color2; text-decoration: none; }
body > h1 { margin: 0 1em; float: left; font-size: medium; }
body > .services { display: block; margin-bottom: 0; }
body > .services > li { display: block; float: left; width: 5em;
                        margin-right: 0.2em; background-color: @color2;
                        border-top-left-radius: 0.5em;
                        border-top-right-radius: 0.5em;
                        -webkit-border-top-left-radius: 5px;
                        -webkit-border-top-right-radius: 5px;
                        -moz-border-radius-topleft: 0.5em;
                        -moz-border-radius-topright: 0.5em;
                        -o-border-radius-topleft: 0.5px;
                        -o-border-radius-topleft: 0.5em;
                        -khtml-border-radius-topleft: 0.5em;
                        -khtml-border-radius-topright: 0.5em;
                        -icap-border-radius-topleft: 0.5 em;
                        -icap-border-radius-topright: 0.5em;
                        padding: 0.4em 1em; font-size: small; }
body > .services > li.selected { background-color: @color1; font-weight: bold; }
body > .services > li:hover { background-color: @color1; }
body > .services > li > a { color: white; }
body > .session { position: absolute; right: 0; top: 0.5em; }
body > .session fieldset { border: none; }
body > .session fieldset legend { float: left; }
body > .body { float: left; clear: left; min-width: 100%;
               background-color: @color1; color: white; }
body > .body h1 { font-size: x-large; margin: 2em 0.5em 0.5em 0.5em; }
body > .body .description { font-size: small; color: @color3; 
                            margin: 1em; margin-top: 0;} 
body > .body > .subject{
    .setBorder_body{
        background-color: white; width: 45em; float: left;
        margin: 1em ; padding: 1em;
        color: @color1;
        border-radius : 0.5em;
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 5px;
        -o-border-radius: 0.5em;
        -khtml-border-radius: 0.5em;
        -icap-border-radius: 0.5em;
    }
    .info{
        float:left; border-right: 1px solid @color5;
        margin: 0.5em; width: 10em;
    }
    .avata{
        margin: 0.5em; text-align: center;
    }
    .nick{
        color: @color1; margin: 0 0.5em 0 0.5em;
        font-size: small; font-weight: bold;
    }
    .name{
        color: @color2; margin: 0 0.5em 0 0.5em;
        font-size: small;
    }
    .item{
        font-size: small; float: right;
        margin: 0.5em;
    }
    .body{
        float:left; padding-right: 2em; color: black;
        margin-left: 1em;
        width: 65%;
        overflow: auto;
    }
    .history{
        color: @color2;
        font-size: small; float: right;
        margin:1em;
    }
    .functions{
        margin: 1em; clear:left; text-align:right; width: 47em;
    }
    .button{
        background-color: @color2;
        border: 0; margin: 0.2em;
        padding: 0.5em 2em;
        border-radius: 10px 9px;
        -webkit-border-radius: 10px 9px;
        -moz-border-radius: 10px 9px;
        -o-border-radius: 10px 9px;
        -khtml-border-radius: 10px 9px;
        -icap-border-radius: 10px 9px;
        color: white;
        font-family: 'NanumGothic', 'Malgun Gothic', sans-serif; 
        font-size: small; font-weight: bold;
    }

}
body > .copyright { clear: left;
                    background-color: @color2; color: white; margin: 0;
                    padding: 1em; font-family: sans-serif; font-size: small; }
