%h1&= @revision.subject.title
%h2 고치기 

.revision
  - form_for([@revision.forum, @revision.subject, @revision.post, @revision]) do |f| 
    = f.error_messages
    %fieldset
      = f.text_area :body, :cols=>80, :rows=>15, :value => @revision.post.body
    .function
      = f.submit "수정" 
      =link_to 'Back', [@revision.forum, @revision.subject]
