%h1 새로운 주제열기 
.create
  - form_for [@subject.forum, @subject] do |f|
    = f.error_messages
    %fieldset
      %legend
        주제
      = f.text_field :title
      글쓰기
      %textarea{:id=>"revision_body",:name=>"revision[body]",:cols=>80,:rows=>21}
    .function
      = f.submit "열기"
      = link_to '뒤로', @subject.forum
