%h1&= @subject.title
.subject
  %table
    %thead
      %tr
    %tbody
      %tr
      - for post in @subject.posts
        %tr
          %td.edit{:colspan => "2"}
            %a{:href => new_forum_subject_post_revision_path(@subject.forum, @subject, post)}고치기
            %a{:href => forum_subject_post_path(@subject.forum, @subject ,post)}수정 내역
        %tr
          %td.body= markdown(post.body)
          %td.people&= post.person
  - if @person_log 
    %a{:href=>new_forum_subject_post_path(@subject.forum, @subject)}글타래 추가

= link_to '목록으로', @subject.forum

