%p
%dl
  %dt Thread
  %dd&= @post.subject_id
  %dt Person
  %dd&= @post.person_id
#{link_to 'Edit', edit_forum_subject_post_path(@post.subject.forum, @post.subject, @post)}|
=link_to 'Back', [@post.subject.forum, @post.subject]
