!!! 1.0 Strict
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title 제로픈 포럼
    = stylesheet_link_tag 'forum'
  %body
    %h1.title 제로픈
    %ul.services
      %li.selected 포럼
      %li 일간 로그
      %li 코드 조각
    .body
      %p(style="color: green")= flash[:notice]
      = yield

